.btn {
  font-family: TradeGothicCondensedWeb;
  padding: 10px;
  padding-top: 12px;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid darken(#f1f1f1, 5%);
  &:hover {
    background-color: darken(#f1f1f1, 5%);
  }

  /* -Demo New Version----------------------- */

  &.primary-btn {
    background-color: #3f7dc7;
    border: #32649f;
    color: #ffffff;
    &:hover {
      background-color: darken(#32649f, 5%);
    }
  }
  //   &.warning-btn {
  //     background-color: #ed553b;
  //     color: #ffffff;
  //     border: darken(#ed553b, 5%);
  //     &:hover {
  //       background-color: darken(#ed553b, 5%);
  //     }
  //   }
}
