@font-face {
    font-family: 'TradeGothicLightWeb';
    src: url('../fonts/tradegothic-light-web.eot');
    src: url('../fonts/tradegothic-light-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothic-light-web.woff') format('woff'), url('../fonts/tradegothic-light-web.ttf') format('truetype'), url('../fonts/tradegothic-light-web.svg#TradeGothicLightWeb') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'TradeGothicLightWeb';
    src: url('../fonts/tradegothic-web.eot');
    src: url('../fonts/tradegothic-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothic-web.woff') format('woff'), url('../fonts/tradegothic-web.ttf') format('truetype'), url('../fonts/tradegothic-web.svg#TradeGothicLightWeb') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'TradeGothicWeb';
    src: url('../fonts/tradegothic-web.eot');
    src: url('../fonts/tradegothic-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothic-web.woff') format('woff'), url('../fonts/tradegothic-web.ttf') format('truetype'), url('../fonts/tradegothic-web.svg#TradeGothicWeb') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'TradeGothicWeb';
    src: url('../fonts/tradegothic-bold-web.eot');
    src: url('../fonts/tradegothic-bold-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothic-bold-web.woff') format('woff'), url('../fonts/tradegothic-bold-web.ttf') format('truetype'), url('../fonts/tradegothic-bold-web.svg#TradeGothicWeb') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'TradeGothicCondensedWeb';
    src: url('../fonts/tradegothic-cn18-web.eot');
    src: url('../fonts/tradegothic-cn18-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothic-cn18-web.woff') format('woff'), url('../fonts/tradegothic-cn18-web.ttf') format('truetype');//, url('../fonts/tradegothic-cn18-web.svg#TradeGothicCondensedWeb') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TradeGothicCondensedWeb';
    src: url('../fonts/tradegothicalt-bcn20-web.eot');
    src: url('../fonts/tradegothicalt-bcn20-web.eot?#iefix') format('embedded-opentype'), url('../fonts/tradegothicalt-bcn20-web.woff') format('woff'), url('../fonts/tradegothicalt-bcn20-web.ttf') format('truetype');//, url('../fonts/tradegothicalt-bcn20-web.svg#TradeGothicCondensedWeb') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  