// Z-Index Management
//
// Our approach to managing z-index throughout this library is to establish a
// scale of variables in here - 100 to 1000. Then each z-index gets it's own
// implementation variable underneath.

// Z-Index Scale
$zIndex-1:  100;
$zIndex-2:  200;
$zIndex-3:  300;
$zIndex-4:  400;
$zIndex-5:  500;
$zIndex-6:  600;
$zIndex-7:  700;
$zIndex-8:  800;
$zIndex-9:  900;
$zIndex-10: 1000;            // keep this as a "backup" - it should rarely be used!

// Z-Index Application
//
// These should remain organized by value so that we can easily visualize the
// z-axis in our application. These should be single use Sass variables that 
// get referenced in your code. Don't be afraid to create a lot of these!
// 
// EXAMPLES TO BE DELETED:
// $zIndex--short-modal:                $zIndex-9;

// $zIndex--short-modal-curtain:        $zIndex-8;

// $zIndex--modal:                      $zIndex-7;
// $zIndex--assign-pagination-position: $zIndex-7;

// $zIndex--modal-curtain:              $zIndex-6;

// $zIndex--header:                     $zIndex-5;
// $zIndex--header-dropdown:            $zIndex-5;

// $zIndex--alert:                      $zIndex-4;
// $zIndex--alert-one-behind:           $zIndex-3;
// $zIndex--alert-two-behind:           $zIndex-2;
// $zIndex--spinner:                    $zIndex-4;

// $zIndex--alert-curtain:              $zIndex-3;