@font-face {
  font-family: 'TradeGothicLightWeb';
  src: url("../fonts/tradegothic-light-web.eot");
  src: url("../fonts/tradegothic-light-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothic-light-web.woff") format("woff"), url("../fonts/tradegothic-light-web.ttf") format("truetype"), url("../fonts/tradegothic-light-web.svg#TradeGothicLightWeb") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicLightWeb';
  src: url("../fonts/tradegothic-web.eot");
  src: url("../fonts/tradegothic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothic-web.woff") format("woff"), url("../fonts/tradegothic-web.ttf") format("truetype"), url("../fonts/tradegothic-web.svg#TradeGothicLightWeb") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicWeb';
  src: url("../fonts/tradegothic-web.eot");
  src: url("../fonts/tradegothic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothic-web.woff") format("woff"), url("../fonts/tradegothic-web.ttf") format("truetype"), url("../fonts/tradegothic-web.svg#TradeGothicWeb") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicWeb';
  src: url("../fonts/tradegothic-bold-web.eot");
  src: url("../fonts/tradegothic-bold-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothic-bold-web.woff") format("woff"), url("../fonts/tradegothic-bold-web.ttf") format("truetype"), url("../fonts/tradegothic-bold-web.svg#TradeGothicWeb") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicCondensedWeb';
  src: url("../fonts/tradegothic-cn18-web.eot");
  src: url("../fonts/tradegothic-cn18-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothic-cn18-web.woff") format("woff"), url("../fonts/tradegothic-cn18-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicCondensedWeb';
  src: url("../fonts/tradegothicalt-bcn20-web.eot");
  src: url("../fonts/tradegothicalt-bcn20-web.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothicalt-bcn20-web.woff") format("woff"), url("../fonts/tradegothicalt-bcn20-web.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.hide {
  display: none !important; }

.right {
  text-align: right !important; }

.left {
  text-align: left !important; }

.center {
  text-align: center !important; }

.block {
  display: block !important; }

.flex {
  display: flex !important; }

.inline-block {
  display: inline-block; }

.inline-flex {
  display: inline-flex !important; }

.inline {
  display: inline !important; }

.relative {
  position: relative !important; }

.absolute {
  position: absolute !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.flex-column {
  flex-direction: column !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.align-center {
  align-items: center !important; }

.align-start {
  align-items: flex-start !important; }

.align-end {
  align-items: flex-end !important; }

.align-stretch {
  align-items: stretch !important; }

.align-baseline {
  align-items: baseline !important; }

.flex-self-center {
  align-self: center !important; }

.flex-self-start {
  align-self: flex-start !important; }

.flex-self-end {
  align-self: flex-end !important; }

.flex-self-baseline {
  align-self: baseline !important; }

.flex-self-stretch {
  align-self: stretch !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-around {
  justify-content: space-around !important; }

.justify-content-between {
  justify-content: space-between !important; }

.flex-auto {
  flex: 1 1 auto; }

.flex-1 {
  flex: 1; }

.valign-middle {
  vertical-align: middle; }

.whitespace-nowrap {
  white-space: nowrap; }

.break-word {
  word-break: break-word; }

.overflow-y-auto {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.overflow-y-hidden {
  overflow-y: hidden !important; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-auto {
  overflow: auto !important; }

.no-scrollbar ::-webkit-scrollbar {
  display: none; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }

.cursor-default {
  cursor: default; }

.cursor-pointer {
  cursor: pointer; }

.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.px0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.mn0 {
  margin: 0 !important; }

.mtn0 {
  margin-top: 0 !important; }

.mrn0 {
  margin-right: 0 !important; }

.mbn0 {
  margin-bottom: 0 !important; }

.mln0 {
  margin-left: 0 !important; }

.mxn0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.myn0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.p1 {
  padding: 0.5rem !important; }

.pt1 {
  padding-top: 0.5rem !important; }

.pr1 {
  padding-right: 0.5rem !important; }

.pb1 {
  padding-bottom: 0.5rem !important; }

.pl1 {
  padding-left: 0.5rem !important; }

.px1 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

.py1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.m1 {
  margin: 0.5rem !important; }

.mt1 {
  margin-top: 0.5rem !important; }

.mr1 {
  margin-right: 0.5rem !important; }

.mb1 {
  margin-bottom: 0.5rem !important; }

.ml1 {
  margin-left: 0.5rem !important; }

.mx1 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important; }

.my1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.mn1 {
  margin: -0.5rem !important; }

.mtn1 {
  margin-top: -0.5rem !important; }

.mrn1 {
  margin-right: -0.5rem !important; }

.mbn1 {
  margin-bottom: -0.5rem !important; }

.mln1 {
  margin-left: -0.5rem !important; }

.mxn1 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important; }

.myn1 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important; }

.p2 {
  padding: 1rem !important; }

.pt2 {
  padding-top: 1rem !important; }

.pr2 {
  padding-right: 1rem !important; }

.pb2 {
  padding-bottom: 1rem !important; }

.pl2 {
  padding-left: 1rem !important; }

.px2 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.py2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.m2 {
  margin: 1rem !important; }

.mt2 {
  margin-top: 1rem !important; }

.mr2 {
  margin-right: 1rem !important; }

.mb2 {
  margin-bottom: 1rem !important; }

.ml2 {
  margin-left: 1rem !important; }

.mx2 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.my2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.mn2 {
  margin: -1rem !important; }

.mtn2 {
  margin-top: -1rem !important; }

.mrn2 {
  margin-right: -1rem !important; }

.mbn2 {
  margin-bottom: -1rem !important; }

.mln2 {
  margin-left: -1rem !important; }

.mxn2 {
  margin-left: -1rem !important;
  margin-right: -1rem !important; }

.myn2 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important; }

.p3 {
  padding: 1.5rem !important; }

.pt3 {
  padding-top: 1.5rem !important; }

.pr3 {
  padding-right: 1.5rem !important; }

.pb3 {
  padding-bottom: 1.5rem !important; }

.pl3 {
  padding-left: 1.5rem !important; }

.px3 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.py3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.m3 {
  margin: 1.5rem !important; }

.mt3 {
  margin-top: 1.5rem !important; }

.mr3 {
  margin-right: 1.5rem !important; }

.mb3 {
  margin-bottom: 1.5rem !important; }

.ml3 {
  margin-left: 1.5rem !important; }

.mx3 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.my3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.mn3 {
  margin: -1.5rem !important; }

.mtn3 {
  margin-top: -1.5rem !important; }

.mrn3 {
  margin-right: -1.5rem !important; }

.mbn3 {
  margin-bottom: -1.5rem !important; }

.mln3 {
  margin-left: -1.5rem !important; }

.mxn3 {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important; }

.myn3 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important; }

.p4 {
  padding: 2rem !important; }

.pt4 {
  padding-top: 2rem !important; }

.pr4 {
  padding-right: 2rem !important; }

.pb4 {
  padding-bottom: 2rem !important; }

.pl4 {
  padding-left: 2rem !important; }

.px4 {
  padding-right: 2rem !important;
  padding-left: 2rem !important; }

.py4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.m4 {
  margin: 2rem !important; }

.mt4 {
  margin-top: 2rem !important; }

.mr4 {
  margin-right: 2rem !important; }

.mb4 {
  margin-bottom: 2rem !important; }

.ml4 {
  margin-left: 2rem !important; }

.mx4 {
  margin-right: 2rem !important;
  margin-left: 2rem !important; }

.my4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.mn4 {
  margin: -2rem !important; }

.mtn4 {
  margin-top: -2rem !important; }

.mrn4 {
  margin-right: -2rem !important; }

.mbn4 {
  margin-bottom: -2rem !important; }

.mln4 {
  margin-left: -2rem !important; }

.mxn4 {
  margin-left: -2rem !important;
  margin-right: -2rem !important; }

.myn4 {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important; }

.p5 {
  padding: 4rem !important; }

.pt5 {
  padding-top: 4rem !important; }

.pr5 {
  padding-right: 4rem !important; }

.pb5 {
  padding-bottom: 4rem !important; }

.pl5 {
  padding-left: 4rem !important; }

.px5 {
  padding-right: 4rem !important;
  padding-left: 4rem !important; }

.py5 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.m5 {
  margin: 4rem !important; }

.mt5 {
  margin-top: 4rem !important; }

.mr5 {
  margin-right: 4rem !important; }

.mb5 {
  margin-bottom: 4rem !important; }

.ml5 {
  margin-left: 4rem !important; }

.mx5 {
  margin-right: 4rem !important;
  margin-left: 4rem !important; }

.my5 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.mn5 {
  margin: -4rem !important; }

.mtn5 {
  margin-top: -4rem !important; }

.mrn5 {
  margin-right: -4rem !important; }

.mbn5 {
  margin-bottom: -4rem !important; }

.mln5 {
  margin-left: -4rem !important; }

.mxn5 {
  margin-left: -4rem !important;
  margin-right: -4rem !important; }

.myn5 {
  margin-top: -4rem !important;
  margin-bottom: -4rem !important; }

.p6 {
  padding: 8rem !important; }

.pt6 {
  padding-top: 8rem !important; }

.pr6 {
  padding-right: 8rem !important; }

.pb6 {
  padding-bottom: 8rem !important; }

.pl6 {
  padding-left: 8rem !important; }

.px6 {
  padding-right: 8rem !important;
  padding-left: 8rem !important; }

.py6 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; }

.m6 {
  margin: 8rem !important; }

.mt6 {
  margin-top: 8rem !important; }

.mr6 {
  margin-right: 8rem !important; }

.mb6 {
  margin-bottom: 8rem !important; }

.ml6 {
  margin-left: 8rem !important; }

.mx6 {
  margin-right: 8rem !important;
  margin-left: 8rem !important; }

.my6 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important; }

.mn6 {
  margin: -8rem !important; }

.mtn6 {
  margin-top: -8rem !important; }

.mrn6 {
  margin-right: -8rem !important; }

.mbn6 {
  margin-bottom: -8rem !important; }

.mln6 {
  margin-left: -8rem !important; }

.mxn6 {
  margin-left: -8rem !important;
  margin-right: -8rem !important; }

.myn6 {
  margin-top: -8rem !important;
  margin-bottom: -8rem !important; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.width-0 {
  width: 0 !important; }

.height-0 {
  height: 0 !important; }

.width-1 {
  width: 0.5rem !important; }

.height-1 {
  height: 0.5rem !important; }

.width-2 {
  width: 1rem !important; }

.height-2 {
  height: 1rem !important; }

.width-3 {
  width: 1.5rem !important; }

.height-3 {
  height: 1.5rem !important; }

.width-4 {
  width: 2rem !important; }

.height-4 {
  height: 2rem !important; }

.width-5 {
  width: 4rem !important; }

.height-5 {
  height: 4rem !important; }

.width-6 {
  width: 8rem !important; }

.height-6 {
  height: 8rem !important; }

.h1 {
  font-size: 2rem !important; }

.h2 {
  font-size: 1.5rem !important; }

.h3 {
  font-size: 1.25rem !important; }

.h4 {
  font-size: 1rem !important; }

.h5 {
  font-size: 0.875rem !important; }

.h6 {
  font-size: 0.75rem !important; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  cursor: pointer; }

svg {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: relative; }

.btn {
  font-family: TradeGothicCondensedWeb;
  padding: 10px;
  padding-top: 12px;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid #e4e4e4;
  /* -Demo New Version----------------------- */ }
  .btn:hover {
    background-color: #e4e4e4; }
  .btn.primary-btn {
    background-color: #3f7dc7;
    border: #32649f;
    color: #ffffff; }
    .btn.primary-btn:hover {
      background-color: #2c588c; }

/*-- Coded Prototype Framework Styles --*/
.cpf--header {
  display: flex;
  padding: 2rem;
  font-family: "TradeGothicWeb";
  /* -Demo Old Version----------------------- */
  /* -Demo New Version----------------------- */
  background-color: #3f7dc7;
  border-bottom: 1px solid #32649f;
  color: #ffffff; }

.cpf--header h2 {
  font-size: 22px;
  font-weight: bold;
  padding: 0px;
  margin: 0px; }

/*-- CPF Navigation --*/
.cpf-navbar {
  display: flex;
  padding: 2rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f1f1f1; }

.cpf-navbar ul {
  padding: 0px;
  margin: 0px; }

.cpf-navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 0rem;
  padding-right: 2rem; }

.cpf-navbar ul li a {
  text-decoration: none;
  font-family: "TradeGothicWeb";
  transition: all 0.1s ease-in-out;
  /* -Demo Old Version----------------------- */
  /* -Demo New Version----------------------- */
  color: #3f7dc7; }

.cpf-navbar ul li a:hover {
  text-decoration: underline; }

.cpf-navbar ul li.active a {
  text-decoration: underline;
  font-weight: bold; }

/*-- CPF Content Container --*/
.cpf-content-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }

.cpf-content-container h3 {
  width: 100%;
  float: left;
  clear: both; }

.cpf-content-container table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #e1e1e1;
  font-family: "TradeGothicWeb";
  color: #555555; }

.cpf-content-container table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1; }

.cpf-content-container table thead tr td {
  padding: 0.8rem 1rem;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1 !important;
  /* -Demo Old Version----------------------- */
  background-color: #fafafa;
  color: #666666;
  /* -Demo New Version----------------------- */
  background-color: #3f7dc7;
  color: #ffffff;
  /* -Demo Git Version----------------------- */
  background-color: red;
  color: #ffffff; }

.cpf-content-container table td:last-child {
  border-right: 0px; }

.cpf-content-container table tr:last-child td {
  border-bottom: 0px; }

/* -Demo New Version----------------------- */
.cpf-content-container table tr:nth-child(even) {
  background-color: #f1f1f1; }

/*# sourceMappingURL=styles.css.map */
