<div class="cpf-content-container">
  <table>
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Number</td>
        <td>Team</td>
        <td>Rating</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dak</td>
        <td>Prescott</td>
        <td>4</td>
        <td>Dallas Cowboys</td>
        <td>14th</td>
      </tr>
      <tr>
        <td>Aaron</td>
        <td>Rodgers</td>
        <td>12</td>
        <td>Green Bay Packers</td>
        <td>2nd</td>
      </tr>
      <tr>
        <td>Russell</td>
        <td>Wilson</td>
        <td>3</td>
        <td>Seattle Sea Hawks</td>
        <td>5th</td>
      </tr>
      <tr>
        <td>Alex</td>
        <td>Smith</td>
        <td>11</td>
        <td>Kansas City Chiefs</td>
        <td>13th</td>
      </tr>
      <tr>
        <td>Philip</td>
        <td>Rivers</td>
        <td>9</td>
        <td>Los Angeles Chargers</td>
        <td>17th</td>
      </tr>
      <tr>
        <td>Jameis</td>
        <td>Winston</td>
        <td>3</td>
        <td>Tampa Bay Buccaneers</td>
        <td>15th</td>
      </tr>
    </tbody>
  </table>
</div>