// Sass function to access colors from our tokens/colors.scss file easier.
// 
// Should be used as color(key) where the key is the color's key from the color tokens.
// 
// Use example:
// .class {
//    color: color(black);
// }
@function color($color) {
  @return map-get($colors, $color);
}

// Auto generate classes for the following:
// 
// .color - sets the text color
// .bg-color - sets the background color
// .border-color - sets the border color
// .fill-color - sets the fill value
@each $color, $value in $colors {
  .#{$color} { color: $value; }
  .bg-#{$color} { background-color: $value !important; }
  .border-#{$color} { border-color: $value !important; }
  .fill-#{$color} { fill: $value !important; }
}